<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zsw.campus.forum.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="cn.zsw.campus.forum.bean.Article">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
        <result property="top" column="top" jdbcType="TINYINT"/>
        <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
        <result property="score" column="score" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,title,content,
        user_id,create_time,category_id,
        comment_count,score
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_article
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectCountByCategoryId" resultType="java.lang.Integer">
        select count(1)
        from t_article
        where category_id = #{categoryId,jdbcType=INTEGER}
    </select>
    <select id="selectTotalCount" resultType="java.lang.Integer">
        select count(1)
        from t_article;
    </select>
    <select id="selectAllArticle" resultType="cn.zsw.campus.forum.bean.Article">
        select
        <include refid="Base_Column_List"/>
        from t_article
    </select>
    <select id="selectAllByCategoryId" resultType="cn.zsw.campus.forum.bean.Article">
        select
        <include refid="Base_Column_List"/>
        from t_article
        where  category_id = #{categoryId,jdbcType=INTEGER}
    </select>
    <select id="selectByUserId" resultType="cn.zsw.campus.forum.bean.Article">
        select
        <include refid="Base_Column_List"/>
        from t_article
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_article
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.zsw.campus.forum.bean.Article"
            useGeneratedKeys="true">
        insert into t_article
        ( id, title, content
        , user_id, create_time, category_id
        , top, comment_count,score)
        values ( #{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}
               , #{userId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{categoryId,jdbcType=INTEGER}
               , #{top,jdbcType=TINYINT}, #{commentCount,jdbcType=INTEGER},#{score,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.zsw.campus.forum.bean.Article"
            useGeneratedKeys="true">
        insert into t_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="userId != null">userId,</if>
            <if test="createTime != null">createTime,</if>
            <if test="categoryId != null">categoryId,</if>
            <if test="top != null">top,</if>
            <if test="commentCount != null">commentCount,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">id = #{id,jdbcType=INTEGER},</if>
            <if test="title != null">title = #{title,jdbcType=VARCHAR},</if>
            <if test="content != null">content = #{content,jdbcType=VARCHAR},</if>
            <if test="userId != null">user_id = #{userId,jdbcType=INTEGER},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="categoryId != null">category_id = #{categoryId,jdbcType=INTEGER},</if>
            <if test="top != null">top = #{top,jdbcType=TINYINT},</if>
            <if test="commentCount != null">comment_count = #{commentCount,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.zsw.campus.forum.bean.Article">
        update t_article
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="top != null">
                top = #{top,jdbcType=TINYINT},
            </if>
            <if test="commentCount != null">
                comment_count = #{commentCount,jdbcType=INTEGER},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.zsw.campus.forum.bean.Article">
        update t_article
        set title         = #{title,jdbcType=VARCHAR},
            content       = #{content,jdbcType=VARCHAR},
            user_id       = #{userId,jdbcType=INTEGER},
            create_time   = #{createTime,jdbcType=TIMESTAMP},
            category_id   = #{categoryId,jdbcType=INTEGER},
            top           = #{top,jdbcType=TINYINT},
            comment_count = #{commentCount,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>
